@using Microsoft.AspNetCore.Components.Forms
@model Onatrix_CMS.ViewModels.CallBackFormQuestionServiceViewModel



@using (Html.BeginUmbracoForm(
            "HandleQuestionForm",
            "Form",
            FormMethod.Post,
            new
            {
                novalidate = true,
                Id = "questionForm",
                Class = "question-form submit-form",
            }))
{
    <div class="flex flex-col gap-5 w-full ">

        <div class="flex gap-5">
            <!-- Name -->
            <div class="form-group w-1/2">
                <label class="form-label sr-only" asp-for="Name"></label>
                <input asp-for="Name" type="text" class="form-input"
                       placeholder="@Html.DisplayNameFor(x => x.Name)"/>
                <span asp-validation-for="Name"></span>
            </div>
            <!-- Email -->
            <div class="form-group w-1/2">
                <label class="form-label sr-only" asp-for="QuestionEmail"></label>
                <input asp-for="QuestionEmail" type="text" class="form-input"
                       placeholder="@Html.DisplayNameFor(x => x.QuestionEmail)"/>
                <span asp-validation-for="QuestionEmail"></span>
            </div>
        </div>


        <div class="flex gap-5">
            <!-- Phone -->
            <div class="form-group w-full">
                <label class="form-label sr-only" asp-for="Question"></label>

                <textarea asp-for="Question"
                          class="question-form-textarea"
                          placeholder="@Html.DisplayNameFor(x => x.Question)"></textarea>

                <span asp-validation-for="Question"></span>
            </div>
        </div>
    </div>


    <div class="flex">
        <button type="submit" class="question-form-submit">Submit</button>
    </div>
}
