<?xml version="1.0" encoding="utf-8"?>
<Media Key="ef233e77-788f-4a53-b0d7-3c9866e5b26f" Alias="Bonds &amp; Commodities" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/BondsCommodities</Path>
    <Trashed Parent="66518213-973c-4ab2-8ca9-f0d565c8ce39">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-04T15:53:28</CreateDate>
    <NodeName Default="Bonds &amp; Commodities" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/5d0gkwpg/gemini_generated_image_6fo4kn6fo4kn6fo4.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>