<?xml version="1.0" encoding="utf-8"?>
<Media Key="7c63bc1e-6560-4d25-a2a4-f2f742670c66" Alias="brand-logos" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/brandLogos</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-27T08:53:27</CreateDate>
    <NodeName Default="brand-logos" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>