<?xml version="1.0" encoding="utf-8"?>
<Media Key="006fc4da-3be4-410b-b135-00b26bc8d794" Alias="Brand.svg" Level="2">
  <Info>
    <Parent Key="1fb7351c-2962-48ec-a517-d5ae8212d67f">logo</Parent>
    <Path>/logo/Brandsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-24T09:14:18</CreateDate>
    <NodeName Default="Brand.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fb2n1yx5/brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>