<?xml version="1.0" encoding="utf-8"?>
<Media Key="467b87c4-0e3e-4b01-9a45-2e0a77574611" Alias="brand3.png" Level="2">
  <Info>
    <Parent Key="7c63bc1e-6560-4d25-a2a4-f2f742670c66">brand-logos</Parent>
    <Path>/brandLogos/brand3png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-27T08:53:47</CreateDate>
    <NodeName Default="brand3.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/jngd12cx/brand3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>