<?xml version="1.0" encoding="utf-8"?>
<Media Key="e0fe384f-6be1-403d-a41f-800b199222e7" Alias="brand5.png" Level="2">
  <Info>
    <Parent Key="7c63bc1e-6560-4d25-a2a4-f2f742670c66">brand-logos</Parent>
    <Path>/brandLogos/brand5png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-27T08:53:47</CreateDate>
    <NodeName Default="brand5.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ydzlqvui/brand5.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>