<?xml version="1.0" encoding="utf-8"?>
<Media Key="ba623de5-1cb6-4160-9971-81455151c245" Alias="ceo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ceo</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-27T10:59:40</CreateDate>
    <NodeName Default="ceo" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>