<?xml version="1.0" encoding="utf-8"?>
<Media Key="d91bed3c-1ac6-4362-8e10-7d7c44e77b60" Alias="contact-person" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/contactPerson</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-27T09:47:52</CreateDate>
    <NodeName Default="contact-person" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>