<?xml version="1.0" encoding="utf-8"?>
<Media Key="8903c8a8-7077-48a9-b090-a0045d728ecf" Alias="Dot map.svg" Level="2">
  <Info>
    <Parent Key="ba0dd7f9-faf4-4734-8e98-50a8ea3306c3">backgrounds</Parent>
    <Path>/backgrounds/DotMapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-27T14:40:20</CreateDate>
    <NodeName Default="Dot map.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lj0lc01m/dot-map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>