<?xml version="1.0" encoding="utf-8"?>
<Media Key="8004113e-632b-4c21-88f2-18abd91e68cf" Alias="expert-1.png" Level="2">
  <Info>
    <Parent Key="15fd1e92-db44-478e-b727-350f000e6b9d">team</Parent>
    <Path>/team/expert1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-24T08:21:47</CreateDate>
    <NodeName Default="expert-1.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/whnfensc/expert-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>