<?xml version="1.0" encoding="utf-8"?>
<Media Key="e96b0766-03e8-4a44-a423-a19ae46af1ff" Alias="expert-4.png" Level="2">
  <Info>
    <Parent Key="15fd1e92-db44-478e-b727-350f000e6b9d">team</Parent>
    <Path>/team/expert4png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-24T08:21:47</CreateDate>
    <NodeName Default="expert-4.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/3hgd0x2b/expert-4.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>