<?xml version="1.0" encoding="utf-8"?>
<Media Key="fed91827-5978-4672-bea0-64ed2c5d4ec0" Alias="guy-dot-background.png" Level="2">
  <Info>
    <Parent Key="d91bed3c-1ac6-4362-8e10-7d7c44e77b60">contact-person</Parent>
    <Path>/contactPerson/guyDotBackgroundpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-27T09:48:11</CreateDate>
    <NodeName Default="guy-dot-background.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/vdjj4sar/guy-dot-background.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>