<?xml version="1.0" encoding="utf-8"?>
<Media Key="65fec8b1-8da4-436a-81fe-d6e0ecf3951f" Alias="kevin-gardner.png" Level="2">
  <Info>
    <Parent Key="15fd1e92-db44-478e-b727-350f000e6b9d">team</Parent>
    <Path>/team/kevinGardnerpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-27T11:30:59</CreateDate>
    <NodeName Default="kevin-gardner.png" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/hyblru4n/kevin-gardner.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>