<?xml version="1.0" encoding="utf-8"?>
<Media Key="1fb7351c-2962-48ec-a517-d5ae8212d67f" Alias="logo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/logo</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-24T09:14:09</CreateDate>
    <NodeName Default="logo" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>