<?xml version="1.0" encoding="utf-8"?>
<Media Key="cbdeecd9-246a-48c3-81f5-e68804d827a5" Alias="OnlineSignatures.net-302 1.svg" Level="2">
  <Info>
    <Parent Key="ba623de5-1cb6-4160-9971-81455151c245">ceo</Parent>
    <Path>/ceo/OnlineSignaturesnet3021svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T09:44:07</CreateDate>
    <NodeName Default="OnlineSignatures.net-302 1.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fnihyklr/onlinesignaturesnet-302-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>