<?xml version="1.0" encoding="utf-8"?>
<Media Key="b79b1593-c48d-40c8-83d7-dc5fcc3062ff" Alias="Screenshot 2025-10-21 170150.png" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Screenshot20251021170150png</Path>
    <Trashed Parent="ba623de5-1cb6-4160-9971-81455151c245">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-28T11:52:40</CreateDate>
    <NodeName Default="Screenshot 2025-10-21 170150.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": [],
  "src": "/media/dtpn0ape/screenshot-2025-10-21-170150.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>