<?xml version="1.0" encoding="utf-8"?>
<Media Key="96126d4a-3a00-474a-b285-039b46ef31b5" Alias="services-2.png" Level="2">
  <Info>
    <Parent Key="0ac06db1-baf1-4216-9d03-7f87c2d5f9f3">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/services2png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-24T13:51:35</CreateDate>
    <NodeName Default="services-2.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ywtfiidj/services-2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>