<?xml version="1.0" encoding="utf-8"?>
<Media Key="d228f40e-c140-4a6f-9409-cf6685b650fe" Alias="services-6.png" Level="2">
  <Info>
    <Parent Key="0ac06db1-baf1-4216-9d03-7f87c2d5f9f3">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/services6png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-24T13:51:36</CreateDate>
    <NodeName Default="services-6.png" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/qe5g2zbj/services-6.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>