<?xml version="1.0" encoding="utf-8"?>
<Media Key="e88ad11f-732b-48a2-aa8f-9d44d19e33d2" Alias="side-bar-image.png" Level="2">
  <Info>
    <Parent Key="217c0591-3d97-4a9f-bdd7-9cfccf4c414a">sidebar</Parent>
    <Path>/sidebar/sideBarImagepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-27T06:29:03</CreateDate>
    <NodeName Default="side-bar-image.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/sannyxsc/side-bar-image.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>