<?xml version="1.0" encoding="utf-8"?>
<Media Key="217c0591-3d97-4a9f-bdd7-9cfccf4c414a" Alias="sidebar" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/sidebar</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-27T06:28:45</CreateDate>
    <NodeName Default="sidebar" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>