<?xml version="1.0" encoding="utf-8"?>
<Media Key="82743ec6-ecda-4181-a5dd-52315208e86c" Alias="sl-home2.png" Level="2">
  <Info>
    <Parent Key="ba0dd7f9-faf4-4734-8e98-50a8ea3306c3">backgrounds</Parent>
    <Path>/backgrounds/slHome2png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-24T05:14:00</CreateDate>
    <NodeName Default="sl-home2.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/jh0denft/sl-home2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>