<?xml version="1.0" encoding="utf-8"?>
<Media Key="0feab584-00e8-40ef-b215-b45961477676" Alias="stat-background-people.png" Level="2">
  <Info>
    <Parent Key="ba0dd7f9-faf4-4734-8e98-50a8ea3306c3">backgrounds</Parent>
    <Path>/backgrounds/statBackgroundPeoplepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-28T09:11:14</CreateDate>
    <NodeName Default="stat-background-people.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/bn5lzomb/stat-background-people.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>