<?xml version="1.0" encoding="utf-8"?>
<Media Key="15fd1e92-db44-478e-b727-350f000e6b9d" Alias="team" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/team</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-24T08:21:29</CreateDate>
    <NodeName Default="team" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>