<?xml version="1.0" encoding="utf-8"?>
<Media Key="3656e6da-12f7-49ce-88d7-090b21be5031" Alias="tina-fox1.png" Level="2">
  <Info>
    <Parent Key="ba623de5-1cb6-4160-9971-81455151c245">ceo</Parent>
    <Path>/ceo/tinaFox1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-27T10:59:51</CreateDate>
    <NodeName Default="tina-fox1.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": [],
  "src": "/media/kuwbbae4/tina-fox1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>