<?xml version="1.0" encoding="utf-8"?>
<Content Key="5128ac5e-6097-491f-b74b-57ecf8e16efb" Alias="2025-11-06 21:57:38:5098591 - souad1@email.com" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/souad1Emailcom</Path>
    <Trashed Parent="11f95bd7-5341-4439-8bf9-0d852c35b2ad">true</Trashed>
    <ContentType>emailCallBackRequest</ContentType>
    <CreateDate>2025-11-06T21:57:38</CreateDate>
    <NodeName Default="2025-11-06 21:57:38:5098591 - souad1@email.com" />
    <SortOrder>13</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <emailCallBackEmail>
      <Value><![CDATA[souad1@email.com]]></Value>
    </emailCallBackEmail>
  </Properties>
</Content>