<?xml version="1.0" encoding="utf-8"?>
<Content Key="c745a70a-1664-4144-9539-8b505a8961ed" Alias="2025-11-07 14:45:24:5418399 - Georgi Sundberg" Level="2">
  <Info>
    <Parent Key="11f95bd7-5341-4439-8bf9-0d852c35b2ad">Form Submissions</Parent>
    <Path>/FormSubmissions/GeorgiSundberg</Path>
    <Trashed>false</Trashed>
    <ContentType>callBackRequest</ContentType>
    <CreateDate>2025-11-07T14:45:24</CreateDate>
    <NodeName Default="2025-11-07 14:45:24:5418399 - Georgi Sundberg" />
    <SortOrder>31</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callBackReqeustEmail>
      <Value><![CDATA[georgi.sundberg@outlook.com]]></Value>
    </callBackReqeustEmail>
    <callBackRequestName>
      <Value><![CDATA[Georgi Sundberg]]></Value>
    </callBackRequestName>
    <callBackRequestOptions>
      <Value><![CDATA[tax-trusts]]></Value>
    </callBackRequestOptions>
    <callBackRequestPhone>
      <Value><![CDATA[0723108585]]></Value>
    </callBackRequestPhone>
  </Properties>
</Content>