<?xml version="1.0" encoding="utf-8"?>
<Content Key="c609f348-f03d-4b5e-91f3-f3fdacbb9d12" Alias="2025-11-07 14:51:08:2906763 - Georgi Sundberg" Level="2">
  <Info>
    <Parent Key="11f95bd7-5341-4439-8bf9-0d852c35b2ad">Form Submissions</Parent>
    <Path>/FormSubmissions/GeorgiSundberg</Path>
    <Trashed>false</Trashed>
    <ContentType>questionCallBackRequest</ContentType>
    <CreateDate>2025-11-07T14:51:08</CreateDate>
    <NodeName Default="2025-11-07 14:51:08:2906763 - Georgi Sundberg" />
    <SortOrder>33</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionCallBackName>
      <Value><![CDATA[Georgi Sundberg]]></Value>
    </questionCallBackName>
    <questionCallBackText>
      <Value><![CDATA[Mjaao 2000, What an cat right?]]></Value>
    </questionCallBackText>
    <questionCallEmail>
      <Value><![CDATA[georgi.sundberg@outlook.com]]></Value>
    </questionCallEmail>
  </Properties>
</Content>