<?xml version="1.0" encoding="utf-8"?>
<Content Key="2647d387-1f6f-4c57-9e9b-645ba1496564" Alias="2025-11-06 18:10:14:6319118 - Liridon" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Liridon</Path>
    <Trashed Parent="11f95bd7-5341-4439-8bf9-0d852c35b2ad">true</Trashed>
    <ContentType>callBackRequest</ContentType>
    <CreateDate>2025-11-06T18:10:17</CreateDate>
    <NodeName Default="2025-11-06 18:10:14:6319118 - Liridon" />
    <SortOrder>6</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callBackReqeustEmail>
      <Value><![CDATA[liridon@domain.se]]></Value>
    </callBackReqeustEmail>
    <callBackRequestName>
      <Value><![CDATA[Liridon]]></Value>
    </callBackRequestName>
    <callBackRequestOptions>
      <Value><![CDATA[financial-advisor]]></Value>
    </callBackRequestOptions>
    <callBackRequestPhone>
      <Value><![CDATA[123456]]></Value>
    </callBackRequestPhone>
  </Properties>
</Content>