<?xml version="1.0" encoding="utf-8"?>
<Content Key="828f5b33-fcea-4e48-a6b9-5eac1b48b773" Alias="2025-11-07 00:17:09:1936245 - georgi.sundberg@outlook.com" Level="2">
  <Info>
    <Parent Key="11f95bd7-5341-4439-8bf9-0d852c35b2ad">Form Submissions</Parent>
    <Path>/FormSubmissions/georgisundbergOutlookcom</Path>
    <Trashed>false</Trashed>
    <ContentType>emailCallBackRequest</ContentType>
    <CreateDate>2025-11-07T00:17:09</CreateDate>
    <NodeName Default="2025-11-07 00:17:09:1936245 - georgi.sundberg@outlook.com" />
    <SortOrder>16</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <emailCallBackEmail>
      <Value><![CDATA[georgi.sundberg@outlook.com]]></Value>
    </emailCallBackEmail>
  </Properties>
</Content>