<?xml version="1.0" encoding="utf-8"?>
<Content Key="471367c7-35b4-4fca-b3f6-2e78fb77b1b2" Alias="2025-11-06 16:53:01:3445954 - (model.Name)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/modelName</Path>
    <Trashed Parent="11f95bd7-5341-4439-8bf9-0d852c35b2ad">true</Trashed>
    <ContentType>callBackRequest</ContentType>
    <CreateDate>2025-11-06T16:53:01</CreateDate>
    <NodeName Default="2025-11-06 16:53:01:3445954 - (model.Name)" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callBackReqeustEmail>
      <Value><![CDATA[georgi.sundberg@outlook.com]]></Value>
    </callBackReqeustEmail>
    <callBackRequestName>
      <Value><![CDATA[Georgi Sundberg]]></Value>
    </callBackRequestName>
    <callBackRequestOptions>
      <Value><![CDATA[bonds-commodities]]></Value>
    </callBackRequestOptions>
    <callBackRequestPhone>
      <Value><![CDATA[0723108585]]></Value>
    </callBackRequestPhone>
  </Properties>
</Content>