<?xml version="1.0" encoding="utf-8"?>
<Content Key="144c264e-dc15-48dd-92e3-facfd605651c" Alias="2025-11-06 21:58:14:4064237 - Georgi Sundberg55566" Level="2">
  <Info>
    <Parent Key="11f95bd7-5341-4439-8bf9-0d852c35b2ad">Form Submissions</Parent>
    <Path>/FormSubmissions/GeorgiSundberg55566</Path>
    <Trashed>false</Trashed>
    <ContentType>callBackRequest</ContentType>
    <CreateDate>2025-11-06T21:58:14</CreateDate>
    <NodeName Default="2025-11-06 21:58:14:4064237 - Georgi Sundberg55566" />
    <SortOrder>13</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callBackReqeustEmail>
      <Value><![CDATA[georgi.sundberg@outlook.com]]></Value>
    </callBackReqeustEmail>
    <callBackRequestName>
      <Value><![CDATA[Georgi Sundberg55566]]></Value>
    </callBackRequestName>
    <callBackRequestOptions>
      <Value><![CDATA[financial-advisor]]></Value>
    </callBackRequestOptions>
    <callBackRequestPhone>
      <Value><![CDATA[0723108585]]></Value>
    </callBackRequestPhone>
  </Properties>
</Content>