<?xml version="1.0" encoding="utf-8"?>
<Content Key="8ec5c0c0-1bcb-4efe-ac69-d19cb35c003b" Alias="2025-11-07 14:33:49:2902420 - Kim" Level="2">
  <Info>
    <Parent Key="11f95bd7-5341-4439-8bf9-0d852c35b2ad">Form Submissions</Parent>
    <Path>/FormSubmissions/Kim</Path>
    <Trashed>false</Trashed>
    <ContentType>callBackRequest</ContentType>
    <CreateDate>2025-11-07T14:33:49</CreateDate>
    <NodeName Default="2025-11-07 14:33:49:2902420 - Kim" />
    <SortOrder>27</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callBackReqeustEmail>
      <Value><![CDATA[kim.hammarstad@gmail.com]]></Value>
    </callBackReqeustEmail>
    <callBackRequestName>
      <Value><![CDATA[Kim]]></Value>
    </callBackRequestName>
    <callBackRequestOptions>
      <Value><![CDATA[tax-trusts]]></Value>
    </callBackRequestOptions>
    <callBackRequestPhone>
      <Value><![CDATA[8574857]]></Value>
    </callBackRequestPhone>
  </Properties>
</Content>