<?xml version="1.0" encoding="utf-8"?>
<Content Key="d1aae87c-e735-4ad1-85ad-b73d3e0ddd02" Alias="2025-11-06 16:54:41:1947396 - Georgi Sundberg11" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/GeorgiSundberg11</Path>
    <Trashed Parent="11f95bd7-5341-4439-8bf9-0d852c35b2ad">true</Trashed>
    <ContentType>callBackRequest</ContentType>
    <CreateDate>2025-11-06T16:54:41</CreateDate>
    <NodeName Default="2025-11-06 16:54:41:1947396 - Georgi Sundberg11" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callBackReqeustEmail>
      <Value><![CDATA[georgi.sundberg@outlook.com]]></Value>
    </callBackReqeustEmail>
    <callBackRequestName>
      <Value><![CDATA[Georgi Sundberg11]]></Value>
    </callBackRequestName>
    <callBackRequestOptions>
      <Value><![CDATA[statistic-advisors]]></Value>
    </callBackRequestOptions>
    <callBackRequestPhone>
      <Value><![CDATA[0723108585]]></Value>
    </callBackRequestPhone>
  </Properties>
</Content>