<?xml version="1.0" encoding="utf-8"?>
<Content Key="1c4da65b-1509-4075-83cb-3d9f8a405af3" Alias="2025-11-07 15:00:57:5914823 - georgi.sundberg@outlook.com" Level="2">
  <Info>
    <Parent Key="11f95bd7-5341-4439-8bf9-0d852c35b2ad">Form Submissions</Parent>
    <Path>/FormSubmissions/georgisundbergOutlookcom</Path>
    <Trashed>false</Trashed>
    <ContentType>emailCallBackRequest</ContentType>
    <CreateDate>2025-11-07T15:00:57</CreateDate>
    <NodeName Default="2025-11-07 15:00:57:5914823 - georgi.sundberg@outlook.com" />
    <SortOrder>35</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <emailCallBackEmail>
      <Value><![CDATA[georgi.sundberg@outlook.com]]></Value>
    </emailCallBackEmail>
  </Properties>
</Content>