<?xml version="1.0" encoding="utf-8"?>
<Content Key="a71e8a62-d967-4282-acbe-9e0493e4bd20" Alias="2025-11-06 18:33:45:3981407 - Georgi Sundberg444" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/GeorgiSundberg444</Path>
    <Trashed Parent="11f95bd7-5341-4439-8bf9-0d852c35b2ad">true</Trashed>
    <ContentType>callBackRequest</ContentType>
    <CreateDate>2025-11-06T18:33:45</CreateDate>
    <NodeName Default="2025-11-06 18:33:45:3981407 - Georgi Sundberg444" />
    <SortOrder>5</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callBackReqeustEmail>
      <Value><![CDATA[georgi.sundberg@outlook.com]]></Value>
    </callBackReqeustEmail>
    <callBackRequestName>
      <Value><![CDATA[Georgi Sundberg444]]></Value>
    </callBackRequestName>
    <callBackRequestOptions>
      <Value><![CDATA[assurance-audits]]></Value>
    </callBackRequestOptions>
    <callBackRequestPhone>
      <Value><![CDATA[0723108585]]></Value>
    </callBackRequestPhone>
  </Properties>
</Content>