<?xml version="1.0" encoding="utf-8"?>
<Content Key="6980bf41-e7a5-44d9-9e15-49da06583e9a" Alias="2025-11-06 20:23:37:0409823 - Georgi Sundberg666" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/GeorgiSundberg666</Path>
    <Trashed Parent="11f95bd7-5341-4439-8bf9-0d852c35b2ad">true</Trashed>
    <ContentType>callBackRequest</ContentType>
    <CreateDate>2025-11-06T20:23:37</CreateDate>
    <NodeName Default="2025-11-06 20:23:37:0409823 - Georgi Sundberg666" />
    <SortOrder>8</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callBackReqeustEmail>
      <Value><![CDATA[georgi.sundberg@outlook.com]]></Value>
    </callBackReqeustEmail>
    <callBackRequestName>
      <Value><![CDATA[Georgi Sundberg666]]></Value>
    </callBackRequestName>
    <callBackRequestOptions>
      <Value><![CDATA[financial-advisor]]></Value>
    </callBackRequestOptions>
    <callBackRequestPhone>
      <Value><![CDATA[0723108585]]></Value>
    </callBackRequestPhone>
  </Properties>
</Content>