<?xml version="1.0" encoding="utf-8"?>
<Content Key="33714672-d0c4-40f2-86d6-327a232403c0" Alias="2025-11-06 21:51:18:5366735 - dam@email.com" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/damEmailcom</Path>
    <Trashed Parent="11f95bd7-5341-4439-8bf9-0d852c35b2ad">true</Trashed>
    <ContentType>callBackRequest</ContentType>
    <CreateDate>2025-11-06T21:51:18</CreateDate>
    <NodeName Default="2025-11-06 21:51:18:5366735 - dam@email.com" />
    <SortOrder>11</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callBackReqeustEmail>
      <Value><![CDATA[dam@email.com]]></Value>
    </callBackReqeustEmail>
    <callBackRequestName>
      <Value><![CDATA[]]></Value>
    </callBackRequestName>
    <callBackRequestOptions>
      <Value><![CDATA[]]></Value>
    </callBackRequestOptions>
    <callBackRequestPhone>
      <Value><![CDATA[]]></Value>
    </callBackRequestPhone>
  </Properties>
</Content>