<?xml version="1.0" encoding="utf-8"?>
<Content Key="ab9de95a-0f16-4336-ad07-f8ba0897202f" Alias="2025-11-06 21:57:28:2062913 - souad@email.com" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/souadEmailcom</Path>
    <Trashed Parent="11f95bd7-5341-4439-8bf9-0d852c35b2ad">true</Trashed>
    <ContentType>emailCallBackRequest</ContentType>
    <CreateDate>2025-11-06T21:57:28</CreateDate>
    <NodeName Default="2025-11-06 21:57:28:2062913 - souad@email.com" />
    <SortOrder>12</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <emailCallBackEmail>
      <Value><![CDATA[souad@email.com]]></Value>
    </emailCallBackEmail>
  </Properties>
</Content>