<?xml version="1.0" encoding="utf-8"?>
<Content Key="f3624bee-8cd0-4ddd-95c2-968433258287" Alias="2025-11-07 14:50:01:6226822 - Georgi Sundberg" Level="2">
  <Info>
    <Parent Key="11f95bd7-5341-4439-8bf9-0d852c35b2ad">Form Submissions</Parent>
    <Path>/FormSubmissions/GeorgiSundberg</Path>
    <Trashed>false</Trashed>
    <ContentType>questionCallBackRequest</ContentType>
    <CreateDate>2025-11-07T14:50:01</CreateDate>
    <NodeName Default="2025-11-07 14:50:01:6226822 - Georgi Sundberg" />
    <SortOrder>32</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionCallBackName>
      <Value><![CDATA[Georgi Sundberg]]></Value>
    </questionCallBackName>
    <questionCallBackText>
      <Value><![CDATA[what is an cat? I have no idea?]]></Value>
    </questionCallBackText>
    <questionCallEmail>
      <Value><![CDATA[georgi.sundberg@outlook.com]]></Value>
    </questionCallEmail>
  </Properties>
</Content>