<?xml version="1.0" encoding="utf-8"?>
<Content Key="41c145e7-ce60-417f-98e2-097ad2512113" Alias="2025-11-07 15:06:46:0346865 - Georgi Sundberg" Level="2">
  <Info>
    <Parent Key="11f95bd7-5341-4439-8bf9-0d852c35b2ad">Form Submissions</Parent>
    <Path>/FormSubmissions/GeorgiSundberg</Path>
    <Trashed>false</Trashed>
    <ContentType>callBackRequest</ContentType>
    <CreateDate>2025-11-07T15:06:46</CreateDate>
    <NodeName Default="2025-11-07 15:06:46:0346865 - Georgi Sundberg" />
    <SortOrder>38</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callBackReqeustEmail>
      <Value><![CDATA[georgi.sundberg@outlook.com]]></Value>
    </callBackReqeustEmail>
    <callBackRequestName>
      <Value><![CDATA[Georgi Sundberg]]></Value>
    </callBackRequestName>
    <callBackRequestOptions>
      <Value><![CDATA[financial-advisor]]></Value>
    </callBackRequestOptions>
    <callBackRequestPhone>
      <Value><![CDATA[0723108585]]></Value>
    </callBackRequestPhone>
  </Properties>
</Content>