<?xml version="1.0" encoding="utf-8"?>
<Content Key="6d2e51ec-28a7-499f-8730-46c7725a15ed" Alias="2025-11-06 17:09:14:7568023 - Georgi Sundberg222" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/GeorgiSundberg222</Path>
    <Trashed Parent="11f95bd7-5341-4439-8bf9-0d852c35b2ad">true</Trashed>
    <ContentType>callBackRequest</ContentType>
    <CreateDate>2025-11-06T17:09:14</CreateDate>
    <NodeName Default="2025-11-06 17:09:14:7568023 - Georgi Sundberg222" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callBackReqeustEmail>
      <Value><![CDATA[georgi.sundberg@outlook.com]]></Value>
    </callBackReqeustEmail>
    <callBackRequestName>
      <Value><![CDATA[Georgi Sundberg222]]></Value>
    </callBackRequestName>
    <callBackRequestOptions>
      <Value><![CDATA[tax-trusts]]></Value>
    </callBackRequestOptions>
    <callBackRequestPhone>
      <Value><![CDATA[0723108585]]></Value>
    </callBackRequestPhone>
  </Properties>
</Content>