<?xml version="1.0" encoding="utf-8"?>
<Content Key="93b9b154-6a70-4fed-acf2-80368ee8b5a9" Alias="2025-11-07 00:16:03:7761189 - georgi.sundberg@outlook.com" Level="2">
  <Info>
    <Parent Key="11f95bd7-5341-4439-8bf9-0d852c35b2ad">Form Submissions</Parent>
    <Path>/FormSubmissions/georgisundbergOutlookcom</Path>
    <Trashed>false</Trashed>
    <ContentType>emailCallBackRequest</ContentType>
    <CreateDate>2025-11-07T00:16:03</CreateDate>
    <NodeName Default="2025-11-07 00:16:03:7761189 - georgi.sundberg@outlook.com" />
    <SortOrder>15</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <emailCallBackEmail>
      <Value><![CDATA[georgi.sundberg@outlook.com]]></Value>
    </emailCallBackEmail>
  </Properties>
</Content>