<?xml version="1.0" encoding="utf-8"?>
<Content Key="1701ad3e-5252-4566-a99b-31a62981d752" Alias="2025-11-07 14:58:03:0682254 - georgi.sundberg@outlook.com" Level="2">
  <Info>
    <Parent Key="11f95bd7-5341-4439-8bf9-0d852c35b2ad">Form Submissions</Parent>
    <Path>/FormSubmissions/georgisundbergOutlookcom</Path>
    <Trashed>false</Trashed>
    <ContentType>emailCallBackRequest</ContentType>
    <CreateDate>2025-11-07T14:58:03</CreateDate>
    <NodeName Default="2025-11-07 14:58:03:0682254 - georgi.sundberg@outlook.com" />
    <SortOrder>34</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <emailCallBackEmail>
      <Value><![CDATA[georgi.sundberg@outlook.com]]></Value>
    </emailCallBackEmail>
  </Properties>
</Content>