<?xml version="1.0" encoding="utf-8"?>
<Content Key="4f733394-00dc-4136-b5b3-10433e46a378" Alias="Bonds &amp; Commodities" Level="3">
  <Info>
    <Parent Key="579f9efd-a9b8-4214-a0ab-d8d9eeac5d20">Services</Parent>
    <Path>/Home/Services/BondsCommodities</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-24T13:57:07</CreateDate>
    <NodeName Default="Bonds &amp; Commodities" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ceb484cb-f5d0-4481-842a-d87f43939fe2">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Bonds & Commodities]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "6b5d9fea-97de-4e01-862b-ea14f886b9dc",
      "key": "672a0cc5-302b-44bc-839e-23c95eea9d50",
      "udi": null,
      "values": [
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About us"
        },
        {
          "alias": "infoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "8fb1a823-9ead-4269-bf68-5c9c127b0d03",
              "mediaKey": "e88ad11f-732b-48a2-aa8f-9d44d19e33d2",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non."
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "672a0cc5-302b-44bc-839e-23c95eea9d50",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "672a0cc5-302b-44bc-839e-23c95eea9d50",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "c641da2c-b7ee-4a63-a8fc-ad1cd557a2c3",
    "mediaKey": "03b13475-90c0-4ba4-ba2d-fa2bf28374c6",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>