<?xml version="1.0" encoding="utf-8"?>
<Content Key="d322c5de-f0cd-495f-8883-2cbeee3d4e0b" Alias="Contact" Level="2">
  <Info>
    <Parent Key="02775d25-4493-4a94-a20b-a6bcd148b283">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-24T06:05:07</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="15695239-da18-455e-a114-22e3de233f4b">ContactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "c709a7df-84c6-481c-af0b-c321d0a51cd7",
      "key": "e955d7f0-ebb4-4730-9b72-79c0f0290dfc",
      "udi": null,
      "values": [
        {
          "alias": "formSubtitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "REQUEST A CALLBACK"
        },
        {
          "alias": "formTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "formDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus"
        },
        {
          "alias": "googleMapsEmbed",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u003Ciframe src=\u0022https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2210.0588550953853!2d18.051250212867245!3d59.330247274508864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f9d61b5b2a595%3A0xd9fa560691e12d7!2sKlarabergsviadukten%2090%2C%20111%2064%20Stockholm!5e1!3m2!1ssv!2sse!4v1761640887115!5m2!1ssv!2sse\u0022 width=\u0022100%\u0022 height=\u0022100%\u0022 style=\u0022border:0; position: absolute; top: 0; left: 0; width: 100%; height: 100%;\u0022 allowfullscreen=\u0022\u0022 loading=\u0022lazy\u0022\u003E \u003C/iframe\u003E"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "e955d7f0-ebb4-4730-9b72-79c0f0290dfc",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "e955d7f0-ebb4-4730-9b72-79c0f0290dfc",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>