<?xml version="1.0" encoding="utf-8"?>
<Content Key="d322c5de-f0cd-495f-8883-2cbeee3d4e0b" Alias="Contact" Level="2">
  <Info>
    <Parent Key="02775d25-4493-4a94-a20b-a6bcd148b283">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-24T06:05:07</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="15695239-da18-455e-a114-22e3de233f4b">ContactPage</Template>
  </Info>
  <Properties>
    <pageTittle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTittle>
  </Properties>
</Content>