<?xml version="1.0" encoding="utf-8"?>
<Content Key="166c6ead-be1b-4ed6-b8f7-b8790281d90f" Alias="Financial Advisor" Level="3">
  <Info>
    <Parent Key="579f9efd-a9b8-4214-a0ab-d8d9eeac5d20">Services</Parent>
    <Path>/Home/Services/FinancialAdvisor</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-24T13:59:19</CreateDate>
    <NodeName Default="Financial Advisor" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ceb484cb-f5d0-4481-842a-d87f43939fe2">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Financial Advisor]]></Value>
    </pageTitle>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "a50e51a7-53c1-4c3a-ae61-0223df1f07bf",
    "mediaKey": "d228f40e-c140-4a6f-9409-cf6685b650fe",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>