<?xml version="1.0" encoding="utf-8"?>
<Content Key="02775d25-4493-4a94-a20b-a6bcd148b283" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-10-24T05:35:59</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2dbf167a-d42a-4c06-bda0-20ce293961d2">HomePage</Template>
  </Info>
  <Properties>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "3bba2ce3-4d4d-411f-a2f6-df6395478662",
      "key": "3337e287-8596-4dd1-b793-b2f58da6d51c",
      "udi": null,
      "values": [
        {
          "alias": "heroTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We bring success to you"
        },
        {
          "alias": "heroText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ELorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "heroLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Contact",
              "target": null,
              "udi": "umb://document/d322c5def0cd495f88832cbeee3d4e0b",
              "url": null,
              "queryString": null
            }
          ]
        },
        {
          "alias": "heroBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "96ed9a40-2373-4326-8aec-e1f43fbfc6d0",
              "mediaKey": "82743ec6-ecda-4181-a5dd-52315208e86c",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "8ce9b6be-d57f-4422-8aa8-e7ea5aa437ee",
      "key": "752736d1-afd9-45f0-842b-47c52505b662",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions \u003Cbr\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "4307645c-81e8-4e88-b87e-39e3200a3169",
      "key": "df89c96f-7027-4cab-8a1b-e75190a61f45",
      "udi": null,
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We are trusted by more than"
        },
        {
          "alias": "highlightText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "4.000\u002B clients"
        },
        {
          "alias": "description",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis molestie nulla. Nam accumsantortor arcu ac tincidunt lectus tincidunt sed."
        },
        {
          "alias": "buttonText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Read our story"
        },
        {
          "alias": "buttonUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "/about"
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "#ffffff"
        },
        {
          "alias": "backgroundImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "2b20dafc-6b70-4489-a754-4970f486047e",
              "mediaKey": "a983b0d6-c56c-44ab-9645-be6d59b48a1e",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "teamPhoto",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "77ba57e9-d4b7-44d6-b29f-9e3971e0bcd9",
              "mediaKey": "55781c3c-607a-4934-b83b-3a2d76eb3b24",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "e71a1640-fb6b-4a26-9cc5-2f17fc835404",
      "key": "c66abf94-8d5f-419d-a81d-1e4900ca8427",
      "udi": null,
      "values": [
        {
          "alias": "sectionLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "SUCCESS STORIES"
        },
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Success story"
        },
        {
          "alias": "statistics",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "97190baf-189a-4315-9e66-923a920a93e0",
                "key": "15740f63-5377-472e-8691-bea3f1136125",
                "udi": null,
                "values": [
                  {
                    "alias": "statNumber",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "689"
                  },
                  {
                    "alias": "statDescription",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "More than 100 customers has been served"
                  }
                ]
              },
              {
                "contentTypeKey": "97190baf-189a-4315-9e66-923a920a93e0",
                "key": "bd53edfe-644f-491a-a5ec-030ffbec1dcf",
                "udi": null,
                "values": [
                  {
                    "alias": "statNumber",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "370"
                  },
                  {
                    "alias": "statDescription",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "More than 370 projects has been completed"
                  }
                ]
              },
              {
                "contentTypeKey": "97190baf-189a-4315-9e66-923a920a93e0",
                "key": "af86fc80-08df-4ef6-8f1e-0b522ae2e9fc",
                "udi": null,
                "values": [
                  {
                    "alias": "statNumber",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "125"
                  },
                  {
                    "alias": "statDescription",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "More than 125 branches has been established in Europe and America"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "15740f63-5377-472e-8691-bea3f1136125",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "bd53edfe-644f-491a-a5ec-030ffbec1dcf",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "af86fc80-08df-4ef6-8f1e-0b522ae2e9fc",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "15740f63-5377-472e-8691-bea3f1136125",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "bd53edfe-644f-491a-a5ec-030ffbec1dcf",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "af86fc80-08df-4ef6-8f1e-0b522ae2e9fc",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "backgroundPatternImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "1232f4b7-0cf8-4bd2-86b5-41328e5b40ba",
              "mediaKey": "e0cdaa25-0e89-491c-9dad-04e1e13ab469",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "featuredImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "8ddf999a-203b-47f2-b7fa-68a292db57f2",
              "mediaKey": "0feab584-00e8-40ef-b215-b45961477676",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "#4f5955"
        }
      ]
    },
    {
      "contentTypeKey": "39657336-d911-4824-8ae3-c8fce35d4f76",
      "key": "a19d5efc-61a3-413b-9209-73d97efef741",
      "udi": null,
      "values": [
        {
          "alias": "signatureImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "22f85fa7-4d64-4a52-b748-0b9d4c0a24a8",
              "mediaKey": "cbdeecd9-246a-48c3-81f5-e68804d827a5",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "sectionLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "ABOUT US"
        },
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": " We have 40 years experience"
        },
        {
          "alias": "quoteText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u0022We have over 25 years of experience providing expert financial advice to both businesses and individuals.\u0022"
        },
        {
          "alias": "description",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium."
        },
        {
          "alias": "signatureName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Tina Fox"
        },
        {
          "alias": "signatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "CEO \u0026 Founder"
        },
        {
          "alias": "buttonText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Contact us"
        },
        {
          "alias": "buttonUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "/contact"
        },
        {
          "alias": "formHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Request a call back"
        },
        {
          "alias": "formDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "40335de5-8539-43d9-b488-8a6f5ed466fd",
      "key": "a3f2beac-82cb-4364-91d4-5e686b6cc5f6",
      "udi": null,
      "values": [
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White-100",
            "value": "#f7f7f7"
          }
        },
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "3337e287-8596-4dd1-b793-b2f58da6d51c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "752736d1-afd9-45f0-842b-47c52505b662",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "df89c96f-7027-4cab-8a1b-e75190a61f45",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c66abf94-8d5f-419d-a81d-1e4900ca8427",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a19d5efc-61a3-413b-9209-73d97efef741",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "3337e287-8596-4dd1-b793-b2f58da6d51c",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "a19d5efc-61a3-413b-9209-73d97efef741",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "752736d1-afd9-45f0-842b-47c52505b662",
        "contentUdi": null,
        "settingsKey": "a3f2beac-82cb-4364-91d4-5e686b6cc5f6",
        "settingsUdi": null
      },
      {
        "contentKey": "df89c96f-7027-4cab-8a1b-e75190a61f45",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "c66abf94-8d5f-419d-a81d-1e4900ca8427",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>