<?xml version="1.0" encoding="utf-8"?>
<Content Key="02775d25-4493-4a94-a20b-a6bcd148b283" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-10-24T05:35:59</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2dbf167a-d42a-4c06-bda0-20ce293961d2">HomePage</Template>
  </Info>
  <Properties>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "3bba2ce3-4d4d-411f-a2f6-df6395478662",
      "key": "3337e287-8596-4dd1-b793-b2f58da6d51c",
      "udi": null,
      "values": [
        {
          "alias": "heroTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We bring success to you"
        },
        {
          "alias": "heroText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ELorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "heroLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Contact",
              "target": null,
              "udi": "umb://document/d322c5def0cd495f88832cbeee3d4e0b",
              "url": null,
              "queryString": null
            }
          ]
        },
        {
          "alias": "heroBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "96ed9a40-2373-4326-8aec-e1f43fbfc6d0",
              "mediaKey": "82743ec6-ecda-4181-a5dd-52315208e86c",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "8ce9b6be-d57f-4422-8aa8-e7ea5aa437ee",
      "key": "752736d1-afd9-45f0-842b-47c52505b662",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions \u003Cbr\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "4307645c-81e8-4e88-b87e-39e3200a3169",
      "key": "df89c96f-7027-4cab-8a1b-e75190a61f45",
      "udi": null,
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We are trusted by more than"
        },
        {
          "alias": "highlightText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "4.000\u002B clients"
        },
        {
          "alias": "description",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis molestie nulla. Nam accumsantortor arcu ac tincidunt lectus tincidunt sed."
        },
        {
          "alias": "buttonText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Read our story"
        },
        {
          "alias": "buttonUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "/about"
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "#ffffff"
        },
        {
          "alias": "backgroundImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "2b20dafc-6b70-4489-a754-4970f486047e",
              "mediaKey": "a983b0d6-c56c-44ab-9645-be6d59b48a1e",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "teamPhoto",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "77ba57e9-d4b7-44d6-b29f-9e3971e0bcd9",
              "mediaKey": "55781c3c-607a-4934-b83b-3a2d76eb3b24",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "40335de5-8539-43d9-b488-8a6f5ed466fd",
      "key": "a3f2beac-82cb-4364-91d4-5e686b6cc5f6",
      "udi": null,
      "values": [
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White-100",
            "value": "#f7f7f7"
          }
        },
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "3337e287-8596-4dd1-b793-b2f58da6d51c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "752736d1-afd9-45f0-842b-47c52505b662",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "df89c96f-7027-4cab-8a1b-e75190a61f45",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "3337e287-8596-4dd1-b793-b2f58da6d51c",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "752736d1-afd9-45f0-842b-47c52505b662",
        "contentUdi": null,
        "settingsKey": "a3f2beac-82cb-4364-91d4-5e686b6cc5f6",
        "settingsUdi": null
      },
      {
        "contentKey": "df89c96f-7027-4cab-8a1b-e75190a61f45",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>