<?xml version="1.0" encoding="utf-8"?>
<Content Key="120656f4-ee9f-4cf2-9d7e-26bbc5a21997" Alias="Risk Management" Level="3">
  <Info>
    <Parent Key="579f9efd-a9b8-4214-a0ab-d8d9eeac5d20">Services</Parent>
    <Path>/Home/Services/RiskManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-24T13:59:41</CreateDate>
    <NodeName Default="Risk Management" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ceb484cb-f5d0-4481-842a-d87f43939fe2">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Risk Management]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "6b5d9fea-97de-4e01-862b-ea14f886b9dc",
      "key": "88a504ae-69cb-4386-99c5-92683b6a0b21",
      "udi": null,
      "values": [
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About us"
        },
        {
          "alias": "infoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "90cb00f7-09ec-4b74-b8ee-370e652e3d89",
              "mediaKey": "e88ad11f-732b-48a2-aa8f-9d44d19e33d2",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non."
        }
      ]
    },
    {
      "contentTypeKey": "963e2704-4b0c-4921-b40a-18e2a1642508",
      "key": "4fd631f7-a9df-4b48-b205-b1353b04e23a",
      "udi": null,
      "values": [
        {
          "alias": "formHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "How can we help you?"
        },
        {
          "alias": "formDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Online support 24/7, we are here to help you"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "88a504ae-69cb-4386-99c5-92683b6a0b21",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "4fd631f7-a9df-4b48-b205-b1353b04e23a",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "88a504ae-69cb-4386-99c5-92683b6a0b21",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "4fd631f7-a9df-4b48-b205-b1353b04e23a",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "1b2065db-f49f-45ec-a526-585f4cb88e5c",
    "mediaKey": "9204e039-3a28-43f7-a92d-b84a9c6e21f6",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>