<?xml version="1.0" encoding="utf-8"?>
<Content Key="9ed93453-bfb9-408b-af3e-d196f1077cd6" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-10-24T09:14:56</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactAddress>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </contactAddress>
    <contactEmail>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactEmail>
    <contactPhone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactPhone>
    <footerLinkText>
      <Value><![CDATA[Themesflat]]></Value>
    </footerLinkText>
    <footerLinkUrl>
      <Value><![CDATA[https://themesflat.com/]]></Value>
    </footerLinkUrl>
    <footerText>
      <Value><![CDATA[© Onatrix. All Rights Reserved. Credits to]]></Value>
    </footerText>
    <platformList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "58775024-042a-4292-a373-c7d4a31efc37",
      "key": "018cbaae-5282-4ddb-951f-1d83a82d0dd9",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Facebook"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.facebook.com"
        }
      ]
    },
    {
      "contentTypeKey": "58775024-042a-4292-a373-c7d4a31efc37",
      "key": "c8a89c8c-6d46-4c26-9c11-d2693970fe70",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "X"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.x.com"
        }
      ]
    },
    {
      "contentTypeKey": "58775024-042a-4292-a373-c7d4a31efc37",
      "key": "664ee012-e8b0-42d0-8a05-82385b5ac21f",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Linkedin"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.linkedin.com"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "018cbaae-5282-4ddb-951f-1d83a82d0dd9",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c8a89c8c-6d46-4c26-9c11-d2693970fe70",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "664ee012-e8b0-42d0-8a05-82385b5ac21f",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "018cbaae-5282-4ddb-951f-1d83a82d0dd9",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "c8a89c8c-6d46-4c26-9c11-d2693970fe70",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "664ee012-e8b0-42d0-8a05-82385b5ac21f",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </platformList>
    <siteLogo>
      <Value><![CDATA[[
  {
    "key": "c374ce2b-9e86-4fe6-aad1-62b5c28bd354",
    "mediaKey": "006fc4da-3be4-410b-b135-00b26bc8d794",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogo>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
  </Properties>
</Content>