<?xml version="1.0" encoding="utf-8"?>
<Content Key="9ed93453-bfb9-408b-af3e-d196f1077cd6" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-10-24T09:14:56</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactAddress>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </contactAddress>
    <contactEmail>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactEmail>
    <contactPersonImage>
      <Value><![CDATA[[
  {
    "key": "93a14498-11b1-4b96-89ff-b52befd4c057",
    "mediaKey": "fed91827-5978-4672-bea0-64ed2c5d4ec0",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactPersonImage>
    <contactPersonTitle>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </contactPersonTitle>
    <contactPhone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactPhone>
    <footerLinkText>
      <Value><![CDATA[Themesflat]]></Value>
    </footerLinkText>
    <footerLinkUrl>
      <Value><![CDATA[https://themesflat.com/]]></Value>
    </footerLinkUrl>
    <footerText>
      <Value><![CDATA[© Onatrix. All Rights Reserved. Credits to]]></Value>
    </footerText>
    <partnerBrands>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "15bb849c-d742-476e-9ca4-5b0e3dd09100",
      "key": "707e48c8-7882-4cba-a894-aa4c115617f2",
      "udi": null,
      "values": [
        {
          "alias": "brandLogo",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "f71dd7f4-49ed-4cb5-9a41-7bc499dc09a1",
              "mediaKey": "ade47a03-e57f-4f1d-989a-c5d8bb384c00",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "15bb849c-d742-476e-9ca4-5b0e3dd09100",
      "key": "ad965939-b9f5-4a2e-8cb4-2d1170bd54f5",
      "udi": null,
      "values": [
        {
          "alias": "brandLogo",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "8f24db6f-f910-4c5c-8397-73da48db229f",
              "mediaKey": "75cbf951-8066-4bf8-9c29-77825b224a72",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "15bb849c-d742-476e-9ca4-5b0e3dd09100",
      "key": "565d88c9-4958-439f-9a85-6cb6d8f2d1ae",
      "udi": null,
      "values": [
        {
          "alias": "brandLogo",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "7d10541b-8ca8-4642-8410-b1f23256d10d",
              "mediaKey": "e0fe384f-6be1-403d-a41f-800b199222e7",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "15bb849c-d742-476e-9ca4-5b0e3dd09100",
      "key": "761eb6d2-cebe-493b-a101-f0a4ef9198c7",
      "udi": null,
      "values": [
        {
          "alias": "brandLogo",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "3c08fa5c-0b20-4f29-a1ba-6fda92c41cd6",
              "mediaKey": "467b87c4-0e3e-4b01-9a45-2e0a77574611",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "15bb849c-d742-476e-9ca4-5b0e3dd09100",
      "key": "e5b3ce47-2b69-4f33-b75c-c4670ca2cf13",
      "udi": null,
      "values": [
        {
          "alias": "brandLogo",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "d1b6833e-7322-416a-9b09-41b5af6da66a",
              "mediaKey": "94f205c1-91ac-4ff7-a30c-6e30fb41e21f",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "15bb849c-d742-476e-9ca4-5b0e3dd09100",
      "key": "6800fa35-00dc-4bb4-a87f-be07cd743cbe",
      "udi": null,
      "values": [
        {
          "alias": "brandLogo",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "765b00b1-164e-4048-8e4d-a5a62ced30c4",
              "mediaKey": "b7466f94-fc50-4acf-a905-04113d420cf5",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "707e48c8-7882-4cba-a894-aa4c115617f2",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ad965939-b9f5-4a2e-8cb4-2d1170bd54f5",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "565d88c9-4958-439f-9a85-6cb6d8f2d1ae",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "761eb6d2-cebe-493b-a101-f0a4ef9198c7",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e5b3ce47-2b69-4f33-b75c-c4670ca2cf13",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "6800fa35-00dc-4bb4-a87f-be07cd743cbe",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "707e48c8-7882-4cba-a894-aa4c115617f2",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "ad965939-b9f5-4a2e-8cb4-2d1170bd54f5",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "565d88c9-4958-439f-9a85-6cb6d8f2d1ae",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "761eb6d2-cebe-493b-a101-f0a4ef9198c7",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "e5b3ce47-2b69-4f33-b75c-c4670ca2cf13",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "6800fa35-00dc-4bb4-a87f-be07cd743cbe",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </partnerBrands>
    <platformList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "58775024-042a-4292-a373-c7d4a31efc37",
      "key": "018cbaae-5282-4ddb-951f-1d83a82d0dd9",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Facebook"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.facebook.com"
        }
      ]
    },
    {
      "contentTypeKey": "58775024-042a-4292-a373-c7d4a31efc37",
      "key": "c8a89c8c-6d46-4c26-9c11-d2693970fe70",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "X"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.x.com"
        }
      ]
    },
    {
      "contentTypeKey": "58775024-042a-4292-a373-c7d4a31efc37",
      "key": "664ee012-e8b0-42d0-8a05-82385b5ac21f",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Linkedin"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.linkedin.com"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "018cbaae-5282-4ddb-951f-1d83a82d0dd9",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c8a89c8c-6d46-4c26-9c11-d2693970fe70",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "664ee012-e8b0-42d0-8a05-82385b5ac21f",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "018cbaae-5282-4ddb-951f-1d83a82d0dd9",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "c8a89c8c-6d46-4c26-9c11-d2693970fe70",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "664ee012-e8b0-42d0-8a05-82385b5ac21f",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </platformList>
    <questionFormTitle>
      <Value><![CDATA[Have a question?]]></Value>
    </questionFormTitle>
    <showEmailAdress>
      <Value><![CDATA[1]]></Value>
    </showEmailAdress>
    <showOfficeLocation>
      <Value><![CDATA[1]]></Value>
    </showOfficeLocation>
    <showPhoneNumber>
      <Value><![CDATA[1]]></Value>
    </showPhoneNumber>
    <showQuestionForm>
      <Value><![CDATA[1]]></Value>
    </showQuestionForm>
    <siteLogo>
      <Value><![CDATA[[
  {
    "key": "c374ce2b-9e86-4fe6-aad1-62b5c28bd354",
    "mediaKey": "006fc4da-3be4-410b-b135-00b26bc8d794",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogo>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
  </Properties>
</Content>