<?xml version="1.0" encoding="utf-8"?>
<Content Key="782ae983-b499-48fd-b354-700a0c23f58f" Alias="Statistic Advisors" Level="3">
  <Info>
    <Parent Key="579f9efd-a9b8-4214-a0ab-d8d9eeac5d20">Services</Parent>
    <Path>/Home/Services/StatisticAdvisors</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-24T13:52:13</CreateDate>
    <NodeName Default="Statistic Advisors" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ceb484cb-f5d0-4481-842a-d87f43939fe2">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Statistic Advisors]]></Value>
    </pageTitle>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "296dc8d2-a8e4-4e59-991f-0f58e90851bf",
    "mediaKey": "96126d4a-3a00-474a-b285-039b46ef31b5",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>