<?xml version="1.0" encoding="utf-8"?>
<Content Key="b4bc62b5-17d1-4226-a5b3-f119ca06a1d5" Alias="Tax and Trusts" Level="3">
  <Info>
    <Parent Key="579f9efd-a9b8-4214-a0ab-d8d9eeac5d20">Services</Parent>
    <Path>/Home/Services/TaxAndTrusts</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-24T13:58:10</CreateDate>
    <NodeName Default="Tax and Trusts" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ceb484cb-f5d0-4481-842a-d87f43939fe2">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Tax and Trusts]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "6b5d9fea-97de-4e01-862b-ea14f886b9dc",
      "key": "d4024b0b-83c4-4548-b625-07e3cd92c391",
      "udi": null,
      "values": [
        {
          "alias": "infoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "62e40ae4-5aa8-4453-9007-2e540ccdbdb1",
              "mediaKey": "e88ad11f-732b-48a2-aa8f-9d44d19e33d2",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About us"
        },
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non."
        }
      ]
    },
    {
      "contentTypeKey": "963e2704-4b0c-4921-b40a-18e2a1642508",
      "key": "10200c4a-8b7a-4942-9c09-bb509cd4bff3",
      "udi": null,
      "values": [
        {
          "alias": "formHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "How can we help you?"
        },
        {
          "alias": "formDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Online support 24/7, we are here to help you"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "d4024b0b-83c4-4548-b625-07e3cd92c391",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "10200c4a-8b7a-4942-9c09-bb509cd4bff3",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "d4024b0b-83c4-4548-b625-07e3cd92c391",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "10200c4a-8b7a-4942-9c09-bb509cd4bff3",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "8ab9cad2-8bc4-4608-846f-9827a98e6c66",
    "mediaKey": "c6c3fe4b-4df2-4f00-8f4e-d9e9120cbd58",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>