<?xml version="1.0" encoding="utf-8"?>
<Content Key="14ca4459-0a76-46c5-adee-e3bf834796b4" Alias="Testing" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Testing</Path>
    <Trashed Parent="579f9efd-a9b8-4214-a0ab-d8d9eeac5d20">true</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-06T10:47:39</CreateDate>
    <NodeName Default="Testing" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ceb484cb-f5d0-4481-842a-d87f43939fe2">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Testing & Pagination]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "6b5d9fea-97de-4e01-862b-ea14f886b9dc",
      "key": "fd351b09-8e2a-420c-8ce3-b91e0ac5b7a7",
      "udi": null,
      "values": [
        {
          "alias": "infoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "284a5357-28ce-4626-b9cf-41b7565ff3a0",
              "mediaKey": "e88ad11f-732b-48a2-aa8f-9d44d19e33d2",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About us"
        },
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non."
        }
      ]
    },
    {
      "contentTypeKey": "963e2704-4b0c-4921-b40a-18e2a1642508",
      "key": "d92d1b33-65b4-49dd-aec3-3e96dae76d51",
      "udi": null,
      "values": [
        {
          "alias": "formHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "How can we help you?"
        },
        {
          "alias": "formDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Online support 24/7, we are here to help you"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "fd351b09-8e2a-420c-8ce3-b91e0ac5b7a7",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d92d1b33-65b4-49dd-aec3-3e96dae76d51",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "fd351b09-8e2a-420c-8ce3-b91e0ac5b7a7",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "d92d1b33-65b4-49dd-aec3-3e96dae76d51",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003ETest\u003C/p\u003E"
}]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Test]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "895b8c0a-37a2-42c1-9303-61fc27100d79",
    "mediaKey": "cf182fda-a63e-4efe-a68b-1958363c2e67",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>