<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f48cf15c-dfe6-4b6d-b1c7-00b469273377" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2dbf167a-d42a-4c06-bda0-20ce293961d2">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="658cdb6e-24b4-4f7a-99d5-70210fccd7a0" SortOrder="0">contactPage</ContentType>
    <ContentType Key="c9153f16-4b1e-4e76-9cdc-d2176cc98765" SortOrder="1">servicePage</ContentType>
    <ContentType Key="14d70948-462b-4d12-b0a2-67a7a17c2f25" SortOrder="2">aboutPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>d8c5ba1c-cfea-43f2-8356-d5d15d3d9eba</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>6a462304-a854-4115-954b-402e6d3f6f34</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>d72c0ce6-0c55-4865-b39e-4c1d8bdc9a82</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>