@using Onatrix_CMS.ViewModels
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>

@{
    var content = (EmailSubscriptionFormSection)Model.Content;
    var formHeading = content.FormHeading ?? "How can we help you?";
    var formDescription = content.FormDescription ?? "online support 24/7, we are here to help you";
}

<section class="email-subscription-section">
    <div class="email-subscription-container">
        <div class="email-subscription-card">
            @if (!string.IsNullOrEmpty(formHeading))
            {
                <h3 class="email-subscription-heading">@formHeading</h3>
            }

            @if (!string.IsNullOrEmpty(formDescription))
            {
                <p class="email-subscription-description">@formDescription</p>
            }


            <!-- Form -->
            <partial name="Forms/_EmailForm" model="new CallBackFormEmailViewModel()"/>

            <div class="mt-8">
                @if (TempData["FormSuccessEmail"] != null)
                {
                    <!-- Display Success -->
                    <div class="bg-green-50 text-green-700 p-4 mx-8 rounded-md">
                        @TempData["FormSuccessEmail"]
                    </div>
                }
                else if (TempData["FormErrorEmail"] != null)
                {
                    <!-- Display Error -->
                    <div class="bg-red-50 text-red-700 p-4 mx-8 rounded-md">
                        @TempData["FormErrorEmail"]
                    </div>
                }
            </div>
        </div>
    </div>
</section>