<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dda767c8-a70b-4eb8-b288-44651b504d86" Alias="Brand List - Block List" Level="1">
  <Info>
    <Name>Brand List - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "15bb849c-d742-476e-9ca4-5b0e3dd09100"
    }
  ]
}]]></Config>
</DataType>