<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6a462304-a854-4115-954b-402e6d3f6f34" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "3bba2ce3-4d4d-411f-a2f6-df6395478662"
    },
    {
      "contentElementTypeKey": "8ce9b6be-d57f-4422-8aa8-e7ea5aa437ee",
      "settingsElementTypeKey": "40335de5-8539-43d9-b488-8a6f5ed466fd"
    },
    {
      "contentElementTypeKey": "d2dac61b-e298-454d-8d8a-cdeb15682aad"
    },
    {
      "contentElementTypeKey": "191917ec-2bd9-4dfd-ae5d-07879d760689"
    },
    {
      "contentElementTypeKey": "38fe8ab6-4ecb-4b47-b4e6-89a0e3d98987"
    },
    {
      "contentElementTypeKey": "8cd65f4c-23ac-4fbe-8eb5-be6a1af6730f"
    },
    {
      "contentElementTypeKey": "4307645c-81e8-4e88-b87e-39e3200a3169"
    },
    {
      "contentElementTypeKey": "e71a1640-fb6b-4a26-9cc5-2f17fc835404"
    },
    {
      "contentElementTypeKey": "39657336-d911-4824-8ae3-c8fce35d4f76"
    },
    {
      "contentElementTypeKey": "963e2704-4b0c-4921-b40a-18e2a1642508"
    }
  ]
}]]></Config>
</DataType>