<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b31f3991-0b9a-4eff-898c-830b791ae576" Alias="Question Form Block - Show Form - Toggle Property Editor UI" Level="1">
  <Info>
    <Name>Question Form Block - Show Form - Toggle Property Editor UI</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>