<?xml version="1.0" encoding="utf-8"?>
<DataType Key="30e65032-fd43-42f7-bdac-e94069d69a93" Alias="Review Section - Description - Text Area Property Editor UI" Level="1">
  <Info>
    <Name>Review Section - Description - Text Area Property Editor UI</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextArea</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "rows": 10
}]]></Config>
</DataType>