<?xml version="1.0" encoding="utf-8"?>
<DataType Key="17950e78-fd6c-4e23-9e7c-ba5e3512bfe2" Alias="Service Detail - Service Detail Content Blocks - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Service Detail - Service Detail Content Blocks - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "0c808d59-8210-445f-87f2-1a480d64477d"
    }
  ]
}]]></Config>
</DataType>