<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dc944ba5-4392-460c-a78f-3bcf6c3a4c8c" Alias="Service Settings - Show Service Label - Toggle Property Editor UI" Level="1">
  <Info>
    <Name>Service Settings - Show Service Label - Toggle Property Editor UI</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>