<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0a30d4e4-ec0c-48b9-9d6f-6a34ced97396" Alias="Service List Section - List Style" Level="1">
  <Info>
    <Name>Service List Section - List Style</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Bullet",
    "Numbered"
  ],
  "multiple": false
}]]></Config>
</DataType>