<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e7658497-3322-4ce9-914e-e13f3f5aa8e7" Alias="Service Grid Section - Service Cards - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Service Grid Section - Service Cards - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "a0abf6f4-ef79-4168-9bea-55ef82860bef"
    }
  ]
}]]></Config>
</DataType>