<?xml version="1.0" encoding="utf-8"?>
<DataType Key="56041c86-956e-418d-b359-7c74b38736cf" Alias="Service Detail - Question Form - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Service Detail - Question Form - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "0c808d59-8210-445f-87f2-1a480d64477d"
    }
  ]
}]]></Config>
</DataType>