<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d0576183-dfaf-4a97-a51a-3a71e2f89d5e" Alias="Service Card Item - Service Description" Level="1">
  <Info>
    <Name>Service Card Item - Service Description</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextArea</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "rows": 10
}]]></Config>
</DataType>