<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a51fec05-9ff8-408b-9572-e5c606838f84" Alias="Service Settings - Show Service Label - Toggle Property Editor UI (1)" Level="1">
  <Info>
    <Name>Service Settings - Show Service Label - Toggle Property Editor UI (1)</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>