<?xml version="1.0" encoding="utf-8"?>
<DataType Key="99201fe2-93f7-4170-9837-d9f55b1f10cf" Alias="Service Detail Content Blocks" Level="1">
  <Info>
    <Name>Service Detail Content Blocks</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "2fc883b8-b7ce-411d-844e-376f4965d768"
    },
    {
      "contentElementTypeKey": "d0f177d5-e8f7-46d8-ad0a-fc5f6baefe73"
    },
    {
      "contentElementTypeKey": "a2df2292-8ee3-40b6-9fb3-d5b9dceb5dc9"
    }
  ]
}]]></Config>
</DataType>