<?xml version="1.0" encoding="utf-8"?>
<DataType Key="eee2ee42-f53b-40e2-a50b-af771e0f4cf8" Alias="Site Settings - Platform List" Level="1">
  <Info>
    <Name>Site Settings - Platform List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "58775024-042a-4292-a373-c7d4a31efc37",
      "label": "{umbValue: platformName}"
    }
  ]
}]]></Config>
</DataType>