<?xml version="1.0" encoding="utf-8"?>
<DataType Key="82cb2477-4fd7-48a8-b6d5-2f348bbec1e7" Alias="Statistics Section - Statistics " Level="1">
  <Info>
    <Name>Statistics Section - Statistics </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "97190baf-189a-4315-9e66-923a920a93e0"
    }
  ]
}]]></Config>
</DataType>