<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f6f69d54-53c5-47ac-a305-b4bd9ac20b05" Alias="Team Member List" Level="1">
  <Info>
    <Name>Team Member List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "a6cdb236-171f-466f-8cf6-1b65718022de"
    }
  ]
}]]></Config>
</DataType>