<?xml version="1.0" encoding="utf-8"?>
<DataType Key="55f506d8-0094-4709-8390-91c5a2de59b7" Alias="Team Member List (1)" Level="1">
  <Info>
    <Name>Team Member List (1)</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "a6cdb236-171f-466f-8cf6-1b65718022de",
      "label": "{umbValue: teamMemberName}"
    }
  ]
}]]></Config>
</DataType>