@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;

	var pageTitle = !string.IsNullOrEmpty(Model.Name) ? Model.Name : "Onatrix";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@pageTitle</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="~/css/styles.css">
	<script src="~/js/scripts.js"></script>
</head>
<body>
	<partial name="Partials/Layout/_Topbar" />
	<partial name="Partials/Layout/_Header" />
	
	@RenderBody()

	<partial name="Partials/Layout/_PartnerLogos" />
	<partial name="Partials/Layout/_Footer" />


<script src="~/js/form.js" asp-append-version="true"></script>

</body>
</html>