@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    var rootContent = Umbraco.ContentAtRoot();
    var siteSettings = rootContent.OfType<SiteSettings>().FirstOrDefault();
}

<footer class="footer">
    <div class="footer-container">
        <p class="footer-text">
            @siteSettings?.FooterText 
            @if (!string.IsNullOrEmpty(siteSettings?.FooterLinkUrl))
            {
                <a href="@siteSettings.FooterLinkUrl" target="_blank" class="footer-link">@siteSettings?.FooterLinkText</a>
            }
        </p>
    </div>
</footer>
