@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<IPageHeader>

<section class="bg-white bg-no-repeat py-16" 
         style="background-image: url('/images/backgrounds/earth-down.png'), url('/images/backgrounds/earth-up.png'); background-position: left bottom, right top;">
    <div class="max-w-7xl mx-auto px-4">
        <h1 class="text-center text-[2.5rem] text-primary font-bold">@Model.PageTitle</h1>
        <div></div>
    </div>
</section>
